@mixin container($max-width: 1400px, $padding: 20px) {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding;
  padding-right: $padding;

  @media (max-width: 767px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
