*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre,
dl,
dd {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus-visible {
  outline: auto;
  outline-offset: 2px;
}

html {
  line-height: 1.15;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::selection {
  background: rgba(var(--color-accent), 0.3);
  color: white;
}
