$header_background: #f5f5f5;
$footer_title_color: #6f6f6f;
$red_color: #ff0000;

$scale-1: 4px;
$scale-2: 8px;
$scale-3: 12px;
$scale-4: 16px;
$scale-5: 20px;
$scale-6: 24px;
$scale-8: 32px;
$scale-10: 40px;
$scale-12: 48px;
$scale-16: 64px;
